REACT_APP_GRAPH_NETWORK='Mainnet'
REACT_APP_GRAPH_HTTP='https://api.thegraph.com/subgraphs/name/protofire/makerdao'
REACT_APP_MKR_GRAPH_HTTP='https://api.thegraph.com/subgraphs/name/protofire/mkr-registry'
ETHERSCAN_API_KEY='YOUR_ETHERSCAON_API_KEY'
